---
layout: default
---

{%- include back_link.html -%}
<h1>{{ page.title }}</h1>
{%- if page.wikipedia_summary -%}
<p><em>{{ page.wikipedia_summary | strip }}</em></p>
{%- endif -%}
{%- if page.wikipedia_url -%}
<p><a target="_blank" href="{{ page.wikipedia_url }}">🔗</a></p>
{%- endif -%}

{%- assign author_books = site.books | where: "author_slug", page.author_slug -%}
{%- if author_books.size > 0 -%}
{%- assign sorted_books = author_books | sort: "series_number" -%}
<ul>
    {%- for book in sorted_books -%}
    <li>
        <a href="{{ book.url | relative_url }}">{{ book.title | downcase }}</a>
        {%- if book.series != null and book.series != "" -%}
        <span> - <a href="{{ site.baseurl }}/books/series/{{ book.series_slug }}">{{ book.series }}</a> #{{ book.series_number }}</span>
        {%- endif -%}
        {%- if book.is_audiobook -%}
        <span> - 🎧</span>
        {%- endif -%}
        <span> - {{ book.read_status }}</span>
    </li>
    {%- endfor -%}
</ul>
{%- endif -%}