---
layout: default
---

<article class="book-page">
    <div class="back-link-wrapper">
        {%-include back_link.html-%}
        <a href="{{ site.baseurl }}/books">reading list</a>
    </div>

    <div class="book-header">
        <div class="book-header-text">
            <p class="post-meta">
                <mark>{{ page.read_status }}</mark>
                {% if page.read_status == "Read" %}
                <span>{{ page.year_finished }}</span>
                {% endif %}
                {% if page.is_audiobook %}
                <span>🎧</span>
                {% endif %}
            </p>

            <h1>{{ page.title }}</h1>
            <h3><a href="{{ site.baseurl }}/books/author/{{ page.author_slug }}">{{ page.author }}</a></h3>

            {% if page.series != null %}
            <h4><a href="{{ site.baseurl }}/books/series/{{ page.series_slug }}">{{ page.series }}</a> - {{ page.series_number }}</h4>
            {% endif %}
        </div>

        {% if page.book_cover_file != null %}
        <div class="book-cover">
            <img src="{{ site.baseurl }}/assets/bookcovers/{{ page.book_cover_file }}" alt="{{ page.title }}" style="width: 200px;">
        </div>
        {% endif %}

        <div style="clear: both;"></div>
    </div>

    <div class="book-content">
        {{ content }}
    </div>
</article>